body{
  background-color: #2e2d2d;
  color: #ddd;
  padding:50px;

}
h1{
  color: #eef;
  text-align: center;
  cursor:default;
}
h2{
  
  text-align-last: center;  
  text-align: center;
  cursor:default;
}